<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
    
<body style="background-image: url('{% static "/image/log_signup.png" %}');">
<body>
    <div class="header">
        <div class="container">
            <img class="icon" src="{% static '/image/health.png' %}" alt="logo">
            <a class="logo" href="#">MEDICAS </a>
            <h1 class="slogan">Chăm sóc sức khỏe - Chia sẻ niềm vui</h1>
        </div>
            <nav>
               <ul class="menu">
                   <li class="current"><a href="{% url 'index' %}">Trang chủ</a></li>
                   <li><a href="{% url 'advisor' %}">Tư vấn sức khỏe</a></li>
                   <li><a href="{% url 'medicine' %}">Tủ thuốc</a></li>
               </ul>
               <ul class="login">
                    <li><a href="{% url 'register' %}">Đăng nhập/Đăng ký</a></li>
               </ul>
            </nav>
    </div>
    <div class="part2">
        <h2>Đăng Nhập</h2>
        <form action="" method="post">
            {% csrf_token %}
        <label for="username">Tên đăng nhập</label><br>
        <input type="text" name="username"><br>
        <label for="password">Mật khẩu</label><br>
        <input type="password" name="password"><br>

        {% for message in messages %}
        {{message}}
        {% endfor %} <br><br>

        <input type="submit" value="Login">
        <p class="message">Chưa có tài khoản? <a href={% url 'register' %}>Tạo tài khoản mới</a></p>
        </form>
    </div>
</body>
<footer>
    <div class="contact">
       <ul class="cont">
           <li> <span>Điện thoại</span> 09934923</li>
           <li> <span>Hotline</span> 190063689</li>
           <li> <span>Hỗ trợ</span> support@health.com</li>
       </ul>
   </div>
</footer>
</html>