<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng kí</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'sign up.css' %}">
</head>
    
<body style="background-image: url('{% static "/image/log_signup.png" %}');">
<body>
    <div class="header">
        <div class="container">
            <img class="icon" src="{% static '/image/health.png' %}" alt="logo">
            <a class="logo" href="#">MEDICAS </a>
            <h1 class="slogan">Chăm sóc sức khỏe - Chia sẻ niềm vui</h1>
        </div>
            <nav>
               <ul class="menu">
                   <li class="current"><a href="#">Trang chủ</a></li>
                   <li><a href="{%url 'advisor'%}">Tư vấn sức khỏe</a></li>
                   <li><a href="{%url 'medicine'%}">Tủ thuốc</a></li>
               </ul>
               <ul class="login">
                    <li><a href="{%url 'login'%}">Đăng nhập/Đăng ký</a></li>
               </ul>
            </nav>
    </div>
    <div class="part2">
    <h2>Đăng kí</h2>
    <form action="" method="post">
        {% csrf_token %}
        <label for="username">Tên tài khoản</label><br>
        {{form.username}} <br>
        <label for="email">Email</label><br>
        {{form.email}} <br>
        <label for="last_name">Họ</label><br>
        {{form.last_name}} <br>
        <label for="first_name">Tên</label><br>
        {{form.first_name}} <br>
        <label for="password1">Mật khẩu</label><br> 
        {{form.password1}} <br>
        <label for="password2">Xác nhận mật khẩu</label><br>
        {{form.password2}} <br>

        {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                {{ error|escape }}
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            {{ error|escape }}
        {% endfor %}
        {% endif %} <br><br>
        <input type="submit" value="Submit">
    </form>
</div>
</body>
<footer>
    <div class="contact">
       <ul class="cont">
           <li> <span>Điện thoại</span> 09934923</li>
           <li> <span>Hotline</span> 190063689</li>
           <li> <span>Hỗ trợ</span> support@health.com</li>
       </ul>
   </div>
</footer>
</html>