@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,200&display=swap');
:root{
    --primary-color:#445dc9;
}

body{
    background-color: transparent;
    margin: 0;
    padding: 0;
    font-family: Arial;
}
.navbar{
    background-color: var(--primary-color);
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 5%;
}

.navbar .container{
    display: grid;
    grid-template-columns: 30vw auto;
    background: #445dc9;
}
.navbar .medicas{
    display: inline-flex;
    margin: 0.5em;
}
.navbar .medicas img{
    width: 2.3vw;
    height: 2.3vw;
    padding-left: 1.8vw;
    padding-top: .4vw;
}

.navbar .medicas .logo{
    display: flex;
    margin-top: 0vw;
    margin-left: .1em;
    text-decoration: none;
    font-size: 2.9vw;
    font-family: 'Libre Caslon Text';
    font-weight: bold;
    color: white;
    
}
.navbar nav ul{
    list-style-type: none;
    text-align: right;
    margin:0 auto;
    padding: 1.5vw 1vw;
}
.navbar nav ul a{
    font-size: 1.7vw;
    font-family: 'Fira Sans';
    text-decoration: none;
    color:white;
}
.navbar nav ul li{
    text-align: center;
    display: inline;
}
li.current{
    font-weight: normal;
    text-decoration: underline;
}
.navbar nav.menu{
    margin: 0vw auto;
    margin-left: 2.5vw;
}
.navbar nav ul.primary-nav li a{
    padding-left: 4vw;
}
.navbar nav ul.secondary-nav{
    position: absolute;
    top:.1vw;
    right: 2%;
}
.cta a{
    border: .15vw solid white;
    border-radius: 3vw;
    padding: .3vw .5vw;
    width: 10vw;
}
.cta a:hover{
   background: white;
   color: var(--primary-color);
}

.primary-nav li a:hover{
   text-decoration: white underline;
}


/* ----------------------------------------ILLUSTRATION--------------------  */
.illustration{
    position: relative;
    width: 100%;
    height: 30vw;
    background-image: url(https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2.1.4/assets/images/doctor-profile/doctor-list-banner-dt.svg);
    background-size: 100% 30vw;
}
.illustration img{
    margin: 0;
    padding: auto;
    object-fit:cover;
    width: 100%;
    height: 100%;
}
.illustration .sp{
    position: absolute;
    width: 100%;
    justify-content: center;
    top:17vw;
}
.illustration .mainbanner{
    width: 50%;
    float: right;
    height: 100%;
    margin-top: 6vw;
    object-fit: fill;
}
.illustration div{
    background-color: none;
    position: absolute;
    z-index: 0;
    top:6vw;
    width: 50vw;
    font-size: 3vw;
    text-align: justify;
    font-family: 'Raleway';
    color: #33418d;
    left: 4vw;
}
.illustration .slogan{
    position: absolute;
    color: black;
    font-size: 2vw;
    width: 60vw;
    top: 9vw;
    left:-2vw;
    font-family: sans-serif;
}

/*--------------------MAIN---------------------*/
.main {
    padding-top: 5vw;
    width: 100%;
  }
section.find{
    padding-left: 2.7vw;
    width: fit-content;
    background-color: transparent;
}
.find h2{
    margin: .5vw;
    height: 1em;
    font-family:'Raleway';
    font-size: 3.5vw;
    font-style: bold;
    color: #1fc5c5;
}
hr{
    display: block;
    height: 1vw;
    width: 45vw;
    border: 0;
    border-top: .14vw solid #00d2d3;
    margin: 2vw .4vw;
}

.form-group-name{
    z-index: 0;
    position: absolute;
    padding: 0.5vw;
    width: 30%;
    top: 45.5vw;
    left: 15vw;
    height: 2vw;
    border-radius: 3vw;
    border: .2vw solid var(--primary-color);
    background: white;
}
.form-group-name button{
    position: absolute;
    border: none;
    background:none;
    float: right;
    font-size: 2vw;
    right: 1vw;
    top:.3vw;
}
.form-group-name input{
    position: absolute;
    border: none;
    font-size: 1.5vw;
    outline: none;
    padding-left: .8vw;
    width: 25.5vw;
    color: rgb(87, 85, 85);
}
.form-group-specialty{
    z-index: 0;
    position: absolute;
    padding: 0.5vw;
    width: 30%;
    top: 45.5vw;
    right: 13vw;
    height: 2vw;
    border-radius: 3vw;
    border: .2vw solid var(--primary-color);
    background: white;
}
.form-group-specialty select{
    position: absolute;
    border: none;
    background:none;
    font-size: 1.5vw;
    left: 1vw;
    border: none;
    outline: none;
    color: gray;
    width: 28.5vw;
}


/*--------------------------------------List----------------------------*/
.text-wrap{
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 11vw 3.6vw 11vw 3.6vw;
}
.col{
    z-index:0;
    background: white;
    flex:30%;
    max-width: 30%;
    box-sizing:border-box;
    margin:2.0vw 1.5vw;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 2vw;
}
.testimonial{
    padding: 25px;
    border-radius: .8vw;
    height: 300px;
}
.testimonial img{
    display:block;
    margin:0 auto;
    margin-top: -37px;
    width: 15vw;
    height: 15vw;
    border-radius:50%;
    border: .25vw solid #1fc5c5;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    object-fit: cover;
    background-color: whitesmoke;
}

.info{
    text-align: center;
}
.info .name{
    font-size: 16px;
    font-family: 'Raleway';
    margin: 8px 3px 3.5px 3px;
    text-align: center;
}
.info cite{
    font-size: 13px;
    font-family: 'Barlow';
    font-weight: bold;
}
.testimonial hr{
    display: block;
    margin: .5vw auto;
    height: 0vw;
    width: 15vw;
    border-top: .1vw solid #00d2d3;
    border-style: dotted;
}
.testimonial p{
    text-align: justify;
    font-size: 13.5px;
    font-family: 'Roboto', sans-serif;
    margin: 8px;
}


/*-----------CONNECT---------*/
.col .Chat{
    margin: 0 auto;
    margin-top: -2.3vw;
    margin-bottom: 1.5vw;
    text-align: center;
}
.col .Chat a{
    border-radius: 5vw;
    background-color: #06b8b8;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5vw;
    font-family:'Fira Sans';
    color: white;
    font-style:normal;
    padding: 0.3vw 4vw 0.1vw 4vw;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    letter-spacing: .05vw;
}
.Chat a:hover {
    background: var(--primary-color);
    color: white;
}
/* .border{
    z-index: 1;
    width: 25vw;
    height: .5px;
    margin: 0 auto;
    margin-top: 0.7vw;
    background: #3f51b5;
} */
@media screen and (max-width: 960px){
    .col{
        flex: 100%;
        max-width: 90%;
    }
    .testimonial{
        max-height: 150px;
    }
    .col .Chat{
        line-height: 10px;
        padding-top: 5px;
        padding-bottom:10px;
        width: 100%;
    }
    .col .Chat a{
        font-size: 13px;
    }
    .info cite{
        font-size: 16px;
    }
    .main button.show_more_btn{
        font-size: 15px;
        width: 40%;
        padding-top: 4px;
        padding-bottom: 20px;

    }
}
@media screen and (width: 768px){
    .col .Chat{
        line-height: 10px;
        padding-top: 50px;
        padding-bottom:10px;
        width: 100%;
    }
    .col p{
        font-size: 19px;
    }
}
@media screen and (width: 280px){
    .col .Chat{
        line-height: 10px;
        padding-top: 12vw;
        padding-bottom:10px;
        width: 100%;
        
    }
}


/*------------------SCROLL ARROW-----------------*/
.gotopbtn{
    position: fixed;
    width: 4vw;
    height: 4vw;
    bottom: .4vw;
    right: .4vw;
    text-align: center;
    line-height: 4vw;
    color: #06b8b8;
    font-size: 3vw;
    text-shadow: .05vw 0.23vw .6vw rgb(165, 164, 164);
    opacity: 0.5;
}
.gotopbtn:hover{
    opacity: 1;
}

.main .show_more_btn{
    position: relative;
    display: block;
    margin: 0 auto;
    bottom: 8vw;
    width:17vw;
    height: 4vw;
    font-size: 1.5vw;
    font-family: 'Raleway';
    border-radius: 3vw;
    border:none;
    color: white;
    background: #06b8b8;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    cursor: pointer;
}
.show_more_btn:hover{
    background: white;
    /* border:0.1vw solid #3f51b5; */
    color: #3f51b5;
}
.line{
    z-index: -1;
    position: relative;
    bottom: 12vw;
    width: 99%;
}

/*-------------------------------CHATBOX--------------------------*/
.Chatbox{
    position: fixed;
    display: none;
    bottom: 4vw;
    right:7vw;
    height: 35vw;
    width: 40vw;
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.7rem;
    box-shadow: .2vw .2vw .2vw rgb(173, 173, 173);
    border-radius: .4vw;
    border: .1vw solid gainsboro;
}
.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.chat-area{
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'Arial';
    font-weight: lighter;
    font-size: 12px;
}
.income-msg{
    display: flex;
    align-items: center;
}
.income-msg .msg{
    background-color:#5462af;
    max-width: 60%;
    color: white;
    padding: 0.5vw 1.2vw;
    border-radius: 4vw;
    margin-left: .4vw;
    box-shadow: 0 .04vw .3vw gainsboro;
}
.outgoing-chats{
    overflow: hidden;
    margin: 26px,20px;
}
.outgoing-msg{
    display: flex;
    align-items: center;
    float: right;
}
.outgoing-msg .msg{
    max-width: 60%;
    background-color:white;
    border: .1vw solid #06b8b8;
    color: black;
    padding: 0.4vw 1.2vw;
    border-radius: 4vw;
    margin-right: .4vw;
    box-shadow: 0 .04vw .3vw gainsboro;
}

.input-area{
    display: flex;
    padding-left: 1vw;
    font-size: 1rem;
    border-radius: .3vw;
    border: 1px solid #ccc;
}
.Chatbox input[type="text"]{
    width:80%;
    font-size: 1rem;
    height: 1.6rem;
    outline:none;
    border: none;
}
.Chatbox input:focus{
    outline: none;
}
.Chatbox button{
    border: none;
    outline: none;
    cursor: pointer;
    background:transparent;
    color: #3f51b5;
    opacity: .3;
}
.Chatbox button:hover{
    opacity: 1;
}
.Chatbox button i{
    font-size: 20px;
    padding: 0 -1vw 0 -1vw;
}
.Chatbox hr{
    width: 100%;
    border-top:none ;
    border-top: .1vw solid #ccc;
    padding: -5vw 0 0vw 0;
    margin: 0;
}

/*-------Header Chatbox-------*/
.chat-header button{
    opacity: unset;
    padding: 0;
}
.chat-header i{
    position: absolute;
    right: 1.2vw;
    top:1vw;
    font-size: 28px;
    color: #06b8b8;
    
}
.chat-header{
    max-width: 100%;
    margin: 0;
    font-family: sans-serif;
    letter-spacing: 0.5px;
    color: #3f51b5;
}
.active{
    width: 100%;
    float:left;
}
.active i{
    left: -1vw;
    top:.45vw;
    padding-left: 2vw;
    color: #3f51b5;
}
.active h4{
    width: 70%;
    font-size: 16px;
    margin: 0;
    margin-left:32px;
}
.active h6{
    font-weight: lighter;
    font-size: 10px;
    color: black;
    margin:0 0 0 33px;
    line-height: 15px;
}

.Chat-popup{
    position: fixed;
    right: 10px;
    bottom:18%;
    background: #06b8b8;
    color: white;
    width: 3.8vw;
    height: 3.8vw;
    border-radius: 50%;
    opacity: 0.5;
    border: none;
    box-shadow: 0 5px 5px gainsboro;
    cursor: pointer;
}
.Chat-popup:hover{
    opacity: 1;
}
.Chat-popup i{
    font-size: 2.4vw;
    line-height: 2.4vw;
}

@media screen and (max-width : 960px){
    .Chatbox{
        right:8vw;
        height: 45vw;
        width: 60%;
        bottom: 9%;
    }
    .Chat a{
        height: 45vw;
        width: 60%;
    }
}
/* @media screen and (max-width : 630px){
    .Chatbox{
        right:8vw;
        height: 45vw;
        width: 80%;
        bottom: 9%;
    }
    
} */

.footer-illu{
    position: relative;
    background: transparent;
}
.foo{
    z-index: -7;
    position: absolute;
    width: 74vw;
    height: 26vw;
    bottom: -6vw;
    right: 0vw;
}

ul{
    list-style-type: none;
}

.contact{
    background: rgba(17, 42, 156, 0.767);
    width: 100%;
    color: white;
    padding: 1vw 1vw;
    float: right;
}
.cont{
    display: flex;
    text-align: right;
    float: right;
}
span{
    font-weight: bold;
}
.cont li{
    font-size: 1.4vw;
    padding: 0vw 3vw;
}

.show {display:flex;}
@media only screen and (max-width: 960px) {

    .illustration .Gioithieu{
        padding-top: 15px;
    }
    .slogan{
        padding-top: 15px;
    }
    .find h2{
        width: 150%;
        margin: 0;
        padding: 0;
        font-size: 14px;
    }
    .form-group-name{
        position: absolute;
        left: 50px;
        right: 30%;
        width: 190px;
        height: 15px;
        padding-bottom: 2.5px ;
        margin-bottom: 10px;
        
    }
    .form-group-name input{
        width: 86%;
        margin-left: 5px;
        font-size: 12px;
    }
    .form-group-name button{
        font-size: 13px;
    }
    .form-group-specialty{
        position: relative;
        top: 3em;
        left: 40px;
        width: 190px;
        height: 15px;
        padding-bottom: 2.5px ;
    }
    .form-group-specialty select{
        width: 98%;
        font-size: 10px;
    }
    .text-wrap{
        margin-top: 19vw;
    }
    .gotopbtn{
        font-size: 6vw;
        right: 3vw;
        bottom: 3vw;
    }
    .cont li{
        font-size: 10px;
        padding: 0vw 4vw;
    }
}

@media only screen and (width: 768px) {
    .form-group-name{
        left: 60px;
        right: 30%;
        width: 260px;
    }
    .form-group-specialty{
        top: 28px;
        left: 25em;
        right: 60px;
        width: 270px;
    }
}