
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,200&display=swap');
:root{
    --primary-color:#445dc9;
}

body{
    background-color: transparent;
    margin: 0;
    padding: 0;
    font-family: Arial;
}
.navbar{
    background-color: var(--primary-color);
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 5%;
}

.navbar .container{
    display: grid;
    grid-template-columns: 30vw auto;
    background: #445dc9;
}
.navbar .medicas{
    display: inline-flex;
    margin: 0.5em;
}
.navbar .medicas img{
    width: 2.3vw;
    height: 2.3vw;
    padding-left: 1.8vw;
    padding-top: .4vw;
}

.navbar .medicas .logo{
    display: flex;
    margin-top: 0vw;
    margin-left: .1em;
    text-decoration: none;
    font-size: 2.9vw;
    font-family: 'Libre Caslon Text';
    font-weight: bold;
    color: white;
    
}
.navbar nav ul{
    list-style-type: none;
    text-align: right;
    margin:0 auto;
    padding: 1.5vw 1vw;
}
.navbar nav ul a{
    font-size: 1.7vw;
    font-family: 'Fira Sans';
    text-decoration: none;
    color:white;
}
.navbar nav ul li{
    text-align: center;
    display: inline;
}
li.current{
    font-weight: normal;
    text-decoration: underline;
}
.navbar nav.menu{
    margin: 0vw auto;
    margin-left: 2.5vw;
}
.navbar nav ul.primary-nav li a{
    padding-left: 4vw;
}
.navbar nav ul.secondary-nav{
    position: absolute;
    top:.1vw;
    right: 2%;
}
.cta a{
    border: .15vw solid white;
    border-radius: 3vw;
    padding: .3vw .5vw;
    width: 10vw;
}
.cta a:hover{
   background: white;
   color: var(--primary-color);
}

.primary-nav li a:hover{
   text-decoration: white underline;
}
.main {
    padding-top: 6.5vw;
    
  }
.Medicine h1{
    padding: 0;
    height: 1em;
    font-family:'Raleway';
    font-size: 3.2vw;
    font-style: bold;
    color: #1fc5c5;
}
.Medicine
{
    margin: 0 auto !important;
    max-width: 1200px !important;
}
.Medicine p
{
    font-size: 14pt;   
}
.list-item{
    max-width: 1188px;
    display: flex;
    flex-wrap: wrap;

    justify-content: center !important;
}
.item1{
    background-image: url(https://cdn.jiohealth.com/pharmacy/category/5/bg_1_m.png);
    opacity: 1;
    border-radius: 10px;
}
.item2{
    background-image: url(https://cdn.jiohealth.com/pharmacy/category/111/bg_1_m.png);
    opacity: 1;
    background-size: 280px 160px;
}
.item3{
    background-image: url(https://cdn.jiohealth.com/pharmacy/category/3/bg_1_m.png);
    opacity: 1;
    background-size: 287px 167px;   
}
.item4{
    background-image: url(https://cdn.jiohealth.com/pharmacy/category/7/bg_1_m.png);
    opacity: 1;
    background-size: 290px 170px; 
}
.item5{
    background-image: url(https://cdn.jiohealth.com/pharmacy/category/53/bg_1_m.png);
    opacity: 1;
    background-size: 280px 160px; 
}
.item6{
    background-image: url(https://cdn.jiohealth.com/pharmacy/category/2/bg_1_m.png);
    opacity: 1;
    background-size: 287px 167px; 
    border-radius: 10px;
}
.item__stype{
    background-position: center center;
    background-repeat: no-repeat;
    width: 280px;
    height: 160px;
    border-radius: 10px;
    margin: 0 auto 18px;
    padding: 20px 10px;
}
.item{
    background-color: rgba(0,0,0,0.5);  
    border-radius: 10px; 
    width: 100%;
    height: 100%; 
}
a{
    text-decoration: none;
    text-align: center;
    background-color: transparent;
 
}
.item:hover{
    background-color: rgba(0,0,0,0.3);
}

.color__white{
    color: white
}
.icon__stype{
    font-size: 40px;
    text-align: center;
    padding: 10px 50px;
    padding-top: 50px;
}
.item p{
    color: white;
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.contact{
    background: rgba(17, 42, 156, 0.767);
    width: 100%;
    color: white;
    padding: 1vw 1vw;
    float: right;
}
.cont{
    display: flex;
    text-align: right;
    float: right;
}
span{
    font-weight: bold;
}
.cont li{
    font-size: 1.4vw;
    padding: 0vw 3vw;
}
