@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');

body{
    margin: 0;
    font-family: Arial;
}

.container{
    background: #445dc9;
    padding: 1em 2em ;
}

.header{
    background: rgb(246, 248, 248);
}

.logo{
    padding: 0;
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 4.5vw;
    margin: 0;
    font-family: 'Libre Caslon Text';

}

.slogan{
    text-align:right;
    font-size:2.3vw;
    font-family: 'Raleway';
    padding: 0;
    margin: 0;
    color: white;

}
img{
    margin-top: 1vw;
    width: 3.8vw;
    padding-left:0em ;
}

nav{
    color: white;
    display: grid;
    grid-template-columns:60vw auto;
    justify-content: unset;

}
.menu{
    margin-left: 1vw;
    padding-right: 2vw;
    display: flex;
    list-style-type: none;
    height: auto;
    width: 100%;
    
}
.login{
    padding-right: 2vw ;
    text-align: right;
}
a{
    text-decoration: none;
    font-size: 1.6vw;
    color: #3853ca;
    background-color: transparent;
    margin: 1vw;
    padding-right: 3vw;
    font-family: 'Fira Sans';
    font-weight:normal;
}

.header nav li:hover{
    text-decoration: white underline;
 }

.block1 img{
    z-index: -1;
    background-repeat:no-repeat;
    background-size: 30%;
    margin-top: 0;
    width: 56%;
    height:auto;
    position: absolute;
    right:0;
    top:10vw;


    
}
.block1 .part1{
    font-family: Fira sans;
    font-size: 2vw;
    color:#00d2d3;
    padding: 0;
    margin-left: 5vw;
    margin-top: 8vw;
    width: 43%;
    float: left; 
    letter-spacing: 0.5px; 
    text-align: justify;
}
.block1 .part1 .header-text1{
    color: #483D8B;
    font-size: 4vw;
    font-weight: bolder;
    text-align: left;
    padding: 0;
    margin: 0;
    width: 100%;
}

.description2{
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 54vw;
}
.description2 .block2 img{
    background-repeat:no-repeat;
    background-size: 30%;
    width: 50%;
    height: auto;
    padding: 1vw 0 1vw 1;
    margin-left: 1vw;
    
}
.block2 .part2 {
    position: absolute;
    font-family: Fira sans;
    font-size: 2vw;
    color:#00d2d3;
    top: 3.5vw;
    width: 40vw;
    right: 5vw;
    letter-spacing: 0.5px;
    text-align: justify;
    padding-top:6vw;
    margin: 0;
} 
    
.block2 .part2 .header-text2{
    color: #483D8B;
    font-size: 4vw;
    font-weight: bolder;
    text-align: right;
    padding: 0;
    margin: 0;
}


ul{
    list-style-type: none;
}

footer{
    position: relative;
    bottom: -40vw;
}
.contact{
    background: rgba(17, 42, 156, 0.767);
    width: 100%;
    color: white;
    padding: 1vw 1vw;
    float: right;
}
.cont{
    display: flex;
    text-align: right;
    float: right;
}
span{
    font-weight: bold;
}
.cont li{
    font-size: 1.4vw;
    padding: 0vw 3vw;
}