@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');
:root{
    --primary-color:#445dc9;
}
a.navbar-brand{
    font-size:3em;
    font-weight: bold;
    font-family: 'Libre Caslon Text';
    margin-left: 0;
}
a.navbar-brand img{
    margin-right: 2px;
    position: relative;
    top:-.1em;
}
a.nav-link{
    font-size: 1.4em;
    font-family: 'Fira Sans';
}
a.login{
    font-family: 'Fira Sans';
    font-size: 1.3em;
}
a.current{
    text-decoration: underline;
}
a.login, a.nav-link:hover{
    color: #445dc9;
    text-decoration: underline;
}
p.h5{
    font-family: 'EB Garamond';
    font-size: 1.6em;
    color: aliceblue;
}
nav.nav2{
    background-color: whitesmoke;
}
span.navbar-toggler-icon{
    color: var(--primary-color);
}

div.illu1 img{
    position: absolute;
    width: 40em;
    height: 40em;
    right: -1.8em;
}
p.header-text1{
    color:  #483D8B;
    font-family:'Fira sans';
    font-weight: bolder;
    font-size: 3em;
    width: 80%;
}
p.first{
    margin-top:2.5em;
}
p.part2{
    color: #00d2d3;
    font-family: 'Fira Sans';
    width: 75%;
    font-size: 1.8em;
}

div.illu2 img{
    position: relative;
    left: -1em;
}

div.sec2{
    position: absolute;
    top:-2em;
    width: 100%;
    right: -2m;
    padding-right: em;
    text-align: justify;
}
p.textsec2{
    margin: 0;
    padding: 0;
    margin-left: 3em;
}
p.tuvan{
    margin-left: 1.8em;
}

ul{
    list-style-type: none;
}
.cont{
    display: flex;
    text-align: right;
    float: right;
}
span{
    font-weight: bold;
}
.cont li{
    font-size: 1.1em;
    padding: 0vw 3vw;
}

@media screen and (max-width: 800px){
    div.illu1 img{
        width: 34em;
        height: 34  em;
        top:1em;
    }
    p.header-text1{
        font-size: 1.3em;
        width: 90%;
    }
    p.first{
        margin-top:1.5em;
    }
    p.part2{
        width: 95%;
        text-align: justify;
        font-size: 1em;
    }

    div.description2{
        flex-direction: row-reverse;
    }
    div.illu2{
        display: none;
    }
    div.text{
        bottom: 7.5em;
    }
    p.textsec2{
        margin-left: .5em;
    }
    p.tuvan{
        margin-left: .5em;
    }
    div.footer{
        position: relative;
        bottom: -30em;
    }
    ul.cont li{
        font-size: .6em;
        padding: 0 .5em;
    }
}

