{% extends "pages/header.html" %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    
    {% load static %}
    {% block title %}
    <title>Bán thuốc</title>    
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.15.4-web/css/all.css'%}">
    <link rel="stylesheet" href="{% static 'banthuoc.css' %}">
    {% endblock %}
</head>

<body>
    {% block content %}

        <div class="Medicine">
            <div style="margin: 20px 0 0 50px">
                <h1 class="title-block">Nhà thuốc trực tuyến thân thiện cho cả gia đình</h1>
            <p >
                "Mọi nhu cầu chăm sóc sức khoẻ của gia đình bạn sẽ được đáp ứng nhanh chóng, tận tâm, và hoàn toàn trực
                tuyến."
            </p>
            </div>
            
            <div class="list-item">
                <div class="item6 item__stype">
                    <a href="{% url 'tuvan' 'Thực phẩm chức năng'%}">
                        <div class="item">
                            <i class="fas fa-tablets color__white icon__stype"></i>
                            <p class="font"><b>Thực phẩm chức năng</b></p>
                        </div>
                    </a>
                </div>
                <div class="item1 item__stype">
                    <a href="{% url 'tuvan' 'Tủ thuốc gia đình'%}">
                        <div class="item">
                            <i class="fas fa-clinic-medical color__white icon__stype"></i>
                            <p class="font"><b>Tủ thuốc gia đình</b></p>
                        </div>
                    </a>
                </div>
                <div class="item2 item__stype">
                    <a href="{% url 'tuvan' 'Tủ Thuốc Covid'%}">
                        <div class="item">
                            <i class="fas fa-lungs-virus color__white icon__stype"></i>
                            <p class="font"><b>Tủ Thuốc Covid</b></p>
                        </div>
                    </a>
                </div>
                <div class="item3 item__stype">
                    <a href="{% url 'tuvan' 'Chăm sóc cá nhân'%}">
                        <div class="item">
                            <i class="fas fa-user-md color__white icon__stype"></i>
                            <p class="font"><b>Chăm sóc cá nhân</b></p>
                        </div>
                    </a>
                </div>
                <div class="item4 item__stype">
                    <a href="{% url 'tuvan' 'Chăm sóc sắc đẹp'%}">
                        <div class="item">
                            <i class="fas fa-pump-soap color__white icon__stype"></i>
                            <p class="font"><b>Chăm sóc sắc đẹp</b></p>
                        </div>
                    </a>
                </div>
                <div class="item5 item__stype">
                    <a href="{% url 'tuvan' 'Dụng cụ y tế'%}">
                        <div class="item">
                            <i class="fas fa-stethoscope color__white icon__stype"></i>
                            <p class="font"><b>Dụng cụ y tế</b></p>
                        </div>
                    </a>
                </div>
                
            </div>
        </div>
    </div>   
    {% endblock %}
</body>
</html>
