<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEDICAS</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'>
    {% block title %}
    {% endblock %}
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> {% endcomment %}
</head>
<body>
    <div class="header">
        <div class="container">
            <img class="icon" src="{% static '/image/health.png' %}" alt="logo">
            <a class="logo" href="#">MEDICAS </a>
            <h1 class="slogan">Chăm sóc sức khỏe - Chia sẻ niềm vui</h1>
        </div>
            <nav>
               <ul class="menu">
                   <li class="current"><a href="">Trang chủ</a></li>
                   <li><a href="{% url 'advisor' %}">Tư vấn sức khỏe</a></li>
                   <li><a href="{% url 'medicine' %}">Tủ thuốc</a></li>
               </ul>
               
               <ul class="login">
                {% if user.is_authenticated %}
          
                <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Đăng xuất</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Xin chào, {{user.username}}</a>
                </li>
    
                {% else %}
    
                <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Đăng nhập</a>
                </li>
    
                 {% endif %}
                </ul>
                </div>
            </nav>
            </nav>
            
    </div>

    <div class="description1">
        <div class="block1">
            <div class="part1">
                <p class="header-text1">Bạn thấy không khỏe?</p>
                <p class="header-text1">Hãy để Medicas chăm sóc cho bạn</p>
                <p>Tìm hiểu thêm về các dịch vụ chăm sóc sức khỏe của chúng tôi - các bác sĩ Medicas thân thiện sẽ tận tình chăm sóc bạn và gia đình.</p>
            </div> 
            <img src="{% static '/image/not-feeling-well.svg' %}" alt="">   
        </div>      
    </div>

    <div class="description2">
        <div class="block2">
            <div class="img2"><img src="{% static 'image/call doctor.jpg' %}" alt=""> </div>
            <div class="part2">  
                <p class="header-text2">Tư vấn sức khỏe 24/7 </p>
                <p> Bạn cần sự tư vấn chuyên môn khi gặp các vấn đề sức khỏe? Dù bạn ở đâu hay vào bất cứ lúc nào, các bác sĩ Medicas luôn sẵn sàng tư vấn, giải đáp đáp mọi thắc mắc của bạn.</p>
            </div> 
        </div>      
    </div>
    <footer>
        <div class="contact">
           <ul class="cont">
               <li> <span>Điện thoại</span> 09934923</li>
               <li> <span>Hotline</span> 190063689</li>
               <li> <span>Hỗ trợ</span> support@health.com</li>
           </ul>
       </div>
    </footer>

    {% comment %} <nav class="navbar navbar-expand-md navbar-dark my-0 py-0" style="background-color: #0f4472;">
        <div class="container-fluid">
            <a class="navbar-brand my-0 py-0" href="/">
                <img class="icon" src="{% static '/image/health.png' %}" alt="logo"height="50" >
                MEDICAS
            </a>
        <div class="ms-auto"> Chăm sóc sức khỏe - Chia sẻ niềm vui </div>
    </nav> {% endcomment %}
</body>

</html>