<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tư Vấn Thuốc</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'TuVan.css'%}">
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <div class="navbar">
        <div class="container">
            <div class="medicas">
                <img src="{% static '/image/health.png' %}" alt="logo">
                <a class="logo" href="{% url 'index' %}"> MEDICAS</a>
            </div>
            <nav class="menu">
                <ul class="primary-nav">
                    <li><a href="{% url 'index' %}">Trang chủ</a></li>
                    <li class="current"><a href="">Tư vấn sức khỏe</a></li>
                    <li><a href="{% url 'medicine' %}">Tư vấn thuốc</a></li>
                </ul>

                <ul class="secondary-nav">
                    <li class="cta"><a href="{% url 'login' %}">Đăng nhập</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="max_size">
        <div class="menu-title">
            <a href="{% url 'index' %}">Trang chủ</a>
            <p>&nbsp;&rsaquo;&nbsp;</p>
            <a href="{% url 'medicine' %}">Tư vấn</a>
            <p>&nbsp;&rsaquo;&nbsp;</p>
            <a href="#">{{pl}}</a>
        </div>
        <div class="menu-right">
            <div class="title-right">
                <p>{{pl}}</p>
            </div>                           
        </div>
           <div class="row ">
                    <div class="col-md-3 col-sm-12 col-12 form-col3">
                        <div class="menu-left">                                                    
                            <ul class="question">
                                <div class="title-left">
                                    <p>BỘ LỌC</p>
                                </div> 
                                <h3>Công dụng</h3>
                                {% for item in cd %}
                                    <li><a href="{% url 'congdung' item.CONGDUNG %}">{{item.CONGDUNG}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div>

                        </div>
                    </div>
                    <div class="col-md-9 col-sm-6  row form-content ms-1">       
                        <div class="row margin-top">
                            <form class="d-flex" method=POST action="{% url 'search' %}">
                                {% csrf_token %}
                                <input class="form-control me-2" type="search" placeholder="Tìm kiếm theo tên sản phẩm" name ="search">
                                <button class="btn btn-outline-secondary" type="submit">search</button>
                            </form>
                                {% if sp %}
                                    {% for item in sp %}                                   
                                        {% comment %} <div class="col-md-4 col-sm-12 col-12">
                                            <div class="card card-style" style="height: 420px;">
                                                <img src="{{item.URL}}" style="height: 256px;width: 95%;" alt="">
                                                <div class="card-body">
                                                    <h5 class="card-title bold">{{item.TENSP}}</h5>
                                                    <p>{{item.INFO}}</p>
                                                <a href="{% url 'details' item.id %}">
                                                    <p>Chi Tiết > </p>
                                                </a>                                                                                                 
                                                </div>
                                            </div>
                                        </div> {% endcomment %}
                                        <div class="col-md-4 col-6">
                                            <a href="{% url 'details' item.id %}" class="text-decoration-none text-dark">
                                                <div class="card">
                                                    <img src="{{item.URL}}"
                                                        class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                        <h6 class="text-danger fw-bold card-title">{{item.TENSP}}</h6>
                                                        <p class="card-text my-2" style="font-size:13px">
                                                            <span class="text-muted">{{item.INFO}}</span>
                                                        </p>
                                                        {% comment %} <a href="{% url 'details' item.id %}">
                                                            <p>Chi Tiết > </p>
                                                        </a> {% endcomment %}
                                                    </div>
                                                
                                                </div>
                                            </a>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                        <h2>Không tìm thấy sản phẩm...</h2>
                                {% endif %}                                                      
                            </div>
                            </div>
                        </div>                     
                    </div>
           </div>
    </div>
    <footer>
        <div class="contact">
            <ul class="cont">
                <li> <span>Điện thoại</span> 09934923</li>
                <li> <span>Hotline</span> 190063689</li>
                <li> <span>Hỗ trợ</span> support@health.com</li>
            </ul>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>